<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12-col col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="row m-2 g-2">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                     <label for="" class="label-controle">Patient Name</label>
                     <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-controle">patient id</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="label-controle">Address</label>
                    <textarea class="form-control">Address</textarea>


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="label-controle">Contact no</label>
                    <input type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="label-controle">Darte of appoinment</label>
                    <input type="date" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="label-controle">patient image</label>
                    <input type="file" name="" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="label-controle">Doctor name</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <button class="btn btn-success">Submit</button>


                </div>
            </div>
        </div>
    </div>
</div>
